
<div class="btn-group-vertical">

    <button type="button" class="btn btn-primary margin-top-bottom" ng-click="go('/transmissibility')">{{ 'view.menu.transmissibility' | translate }}</button>


    <button type="button" class="btn btn-primary margin-top-bottom">{{ 'view.menu.shockabsorberscalculation' | translate }}</button>


    <button type="button" class="btn btn-primary margin-top-bottom">{{ 'view.menu.shockresponse' | translate }}</button>

    <br/><br/><br/><br/><br/><br/><br/><br/>
    <button type="button" class="btn btn-primary margin-top-bottom" ng-click="go('/productdatasheet')">{{ 'view.menu.productdatasheet' | translate }}</button>


    <!-- <i class="fa fa-home text-info fa-lg" ng-click="go('/home')"></i>&nbsp; Home -->
  <!-- <h4>{{ 'HELLO' | translate }}</h2> -->


</div>
<br/><br/><br/>
<div style="width:40%" class="center-menu-home">
  <div class="list-group">
    <a class="list-group-item" href="#/home"><i class="fa fa-home fa-fw text-info"></i>&nbsp; {{ 'view.productdatasheet.home' | translate }}</a>
  </div>
</div>
