<div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div>
        <img src="img/paul.jpg" alt="Photo d'activités de Hutchinson" style="width:80%;height:80%" />
        <!-- <h1>Test: {{ test }}</h1> ng-click="go('/menu')"-->
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6" ng-click="go('/menu', 'fr')">
         <img src="img/fr.ico" class="pull-left" style="width:30%;height:30%" />
      </div>
      <div class="col-sm-6" ng-click="go('/menu', 'en')">
          <img src="img/en.jpg" class="pull-right" style="width:30%;height:30%" />
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6" ng-click="go('/menu', 'fr')">
        <h5 for="" class="pull-left" style="margin-left:5px">DEMARRER</h5>
      </div>
      <div class="col-sm-6" ng-click="go('/menu', 'en')">
        <h5 for="" class="pull-right" style="margin-right:15px">START</h5>
      </div>
    </div>
    <!-- <div class="row vcenter">
      <button class="btn btn-default btn-addon btn-sm m-t-n-xs" ng-click="openModalCompanyDetails()">
        <i class="fa fa-home text-info" >Société</i>
      </button>
    </div> -->
</div>
