.margin-top-bottom{
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-bottom{
  margin-bottom: 15px;
}
.margin-top{
  margin-top: 15px;
}
.center-menu-home{
  margin-left: 30%;
  margin-right: 30%;
}
